<strong>Olá, {{ deliv }}</strong>
<p>Há uma encomenda para você entregar, confira os detalhes a baixo:</p>

<p>
  <strong>Shopping:</strong>
   <strong>Recipient:</strong>
   <br />
   <small>
     As retiradas só podem ser feitas entre as 08:00 e 18:00h.
   </small>
</p>